<footer class="border-t border-base-300 footer footer-center p-4 text-base-content">
  <div>
    <p><span class="site-footer-credits">Contribute to the Spack Build Cache on <a target="_blank" href="https://github.com/spack/cache.spack.io">GitHub</a>, the packages site can be found <a target="_blank" href="https://packages.spack.io/">here</a>, and the GitHub repository for that at <a target="_blank" href="https://github.com/spack/packages.spack.io">spack/packages.spack.io</a>.</span></p>
  </div>
</footer>
