<header class="drop-shadow-xl relative z-[100]">
    <div class="navbar bg-base-100 rounded">
        <div class="flex-1">
            <a href="{{ site.baseurl }}/" class="btn btn-ghost !px-2 !py-1 !flex gap-2">
                <img src="{{ site.baseurl }}/assets/img/spack-logo.svg" class="max-h-full w-auto">
                Spack Build Cache <small class="text-gray-600">{{ page.tag }}</small>
            </a>
        </div>

        <div class="flex justify-end flex-1 px-2">
            {% if page.layout != 'home' %}
            <div class="flex gap-4 pr-5 border-r border-base-200">
                <div class="form-control py-2" x-data="customSelect('version')">
                    <label class="label floating">
                        <span class="label-text-alt text-gray-400 text-[10px]">Build Cache Version</span>
                    </label>
                    <button class="custom-select !select-sm w-48" @click="isOpen = !isOpen">
                        <span class="selected" x-text="selectedOption"></span>
                    </button>
                
                    <div class="custom-select-options" x-show="isOpen === true" @click.away="isOpen = false" x-cloak>
                        <div class="menu-wrap">
                            <ul>
                                <li class="selected">
                                    <a @click="selectedOption = '-- choose version --'">-- choose version --</a>
                                </li>
                                {% for entry in site.data.tags.tags %}
                                <li>
                                    <a @click="selectOption('{{ entry.name }}')">{{ entry.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-control py-2" x-data="customSelect('stack')">
                    <label class="label floating">
                        <span class="label-text-alt text-gray-400 text-[10px]">Stack</span>
                    </label>
                    <button class="custom-select !select-sm w-48" @click="isOpen = !isOpen">
                        <span class="selected" x-text="selectedOption"></span>
                    </button>
                
                    <div class="custom-select-options" x-show="isOpen === true" @click.away="isOpen = false" x-cloak>
                        <div class="menu-wrap">
                            <ul>
                                <li class="selected">
                                    <a @click="selectedOption = '-- choose stack --'">-- choose stack --</a>
                                </li>
                                {% for entry in site.data.stacks.stacks %}
                                <li>
                                    <a @click="selectOption('{{ entry }}')">{{ entry }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="flex items-stretch pl-3">
                <div class="tooltip tooltip-bottom" data-tip="Spack Packages">
                    <a href="https://packages.spack.io/" class="btn btn-ghost btn-square rounded-btn" target="_blank" alt="Spack Packages">
                        <i class="ri-box-3-line text-xl"></i>
                    </a>
                </div>
                <div class="dropdown dropdown-end">
                    <label tabindex="0" class="btn btn-ghost btn-square rounded-btn">
                        <i class="ri-github-fill text-xl"></i>
                    </label>
                    <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box mt-4">
                        <li>
                            <a href="https://github.com/spack/packages.spack.io" class="nolink" target="_blank">
                                <i class="ri-git-repository-fill text-xl"></i>
                                packages.spack.io
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/spack/cache.spack.io" class="nolink" target="_blank">
                                <i class="ri-git-repository-fill text-xl"></i>
                                cache.spack.io
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<script type="text/javascript">
 function customSelect(type) {
     return {
         selectedOption: `-- choose ${type} --`,
         isOpen: false,
         type: type,
         init() {
             // set up current options based on url
             if (type == 'version') {
                let activeBuildCacheVersion = window.location.pathname.match(/{{ site.baseurl | replace: "/", "\\/" }}\/tag\/([^\/]*)/) ||
                                            window.location.pathname.match(/{{ site.baseurl | replace: "/", "\\/" }}\/package\/([^\/]*)/);
                if (activeBuildCacheVersion) {
                    activeBuildCacheVersion = activeBuildCacheVersion[1];
                    this.selectedOption = activeBuildCacheVersion;
                }
             } else if (type == 'stack') {
                let activeBuildCacheStack = window.location.search.match(/stack=([^&]*)/);
                if (activeBuildCacheStack) {
                    activeBuildCacheStack = activeBuildCacheStack[1];
                    this.selectedOption = activeBuildCacheStack;
                }
             }
         },
         toggle() {
             this.isOpen = !this.isOpen;
         },
         selectOption(option) {
             this.selectedOption = option;
             this.isOpen = false;

             if (type == 'version') {
                 window.location.pathname = '{{ site.baseurl }}/tag/' + option;
             } else if (type == 'stack') {
                 window.location.search = '?stack=' + option;
             }
         }
     }
 }
</script>
