<header class="drop-shadow-xl">
    <div class="navbar bg-base-100 rounded-t">
        <div class="flex-1">
            <a href="{{ site.baseurl }}" class="btn btn-ghost !px-2 !py-1 !flex gap-2">
                <img src="{{ site.baseurl }}assets/img/spack-logo.svg" class="max-h-full w-auto">
                Spack Build Cache <small class="text-gray-600">{{ page.tag }}</small>
            </a>
        </div>
    </div>
    <div class="bg-base-100 border-t border-base-200 text-sm breadcrumbs mb-6 px-4 rounded-b">
        <ul>
            <li><a class="link-accent">Home</a></li>
            <li><a class="link-accent">Another Page</a></li>
            <li>
                <select class="bg-transparent select select-xs">
                    <option>All</option>
                    <option>develop</option>
                    <option disabled selected>v0.18</option>
                    <option>v0.19</option>
                </select>
            </li>
        </ul>
    </div>
</header>
