---
layout: default
---

<header style="margin-bottom:15px">

<h1>{{ page.title }}</h1>

{% assign emojis = "⭐️,🎉️,🤓️,😄️,✨️,💛️" | split: ',' %}
{% assign emoji = emojis | sample: 2 %}

<p><strong><a href="{{ site.baseurl }}"><<</a> This package has {{ page.spec_names | size }}</strong> specs in the build cache! {{ emoji[0] }}</p>
<p>View <a href="https://packages.spack.io/package.html?name={{ page.title }}">{{ page.title }} on packages.spack.io</a></p>
</header>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism-coy.min.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
function formatBytes(bytes,decimals) {
   if (bytes == 0) {
       return '0 Bytes';
   }
   var k = 1024,
       dm = decimals || 2,
       sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
       i = Math.floor(Math.log(bytes) / Math.log(k));
   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
}
</script>

<div class="container">

<main id="app" class="grid flex-grid" style="justify-content:center; padding-bottom:40px">
<div class="card"><span style="font-size:20px;font-weight:600">{{ page.meta.versions | size }}</span> Versions</div>
<div class="card"><span style="font-size:20px;font-weight:600">{{ page.meta.compilers | size }}</span> Compilers</div>
<div class="card"><span style="font-size:20px;font-weight:600">{{ page.meta.arches | size }}</span> Architectures</div>
</main>

<a class="button reset filter-reset" onclick="$('#cache').DataTable().search('').draw()" style='float:right;padding-bottom:5px' href="#">reset</a></li>

<table id="cache" class="table table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Hash</th>
            <th>Versions</th>
            <th>Compilers</th>
            <th>Arches</th>
            <th>Variants</th>
            <th>Stacks</th>
            <th>Size</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for spec_name in page.spec_names %}
        <tr>
            <td>
                {{ page.spec_details[forloop.index0].hash }}
            </td>
            <td>
                {% for v in page.spec_details[forloop.index0].versions %}<button
                    class="tag button btn btn-primary btn-xs">{{ v }}</button>{% endfor %}
            </td>
            <td>
                <button class="tag button btn btn-primary btn-xs">{{ page.spec_details[forloop.index0].compiler }}</button>
            </td>
            <td>
                <button class="tag button btn btn-primary btn-xs">{{ page.spec_details[forloop.index0].architecture }}</button>
            </td>
            <td>
                {% for v in page.spec_details[forloop.index0].variants %}<button
                    class="tag button btn btn-primary btn-xs">{{ v }}</button>{% endfor %}
            </td>
            <td>
                {% for s in page.spec_details[forloop.index0].stacks %}<button
                    class="tag button btn btn-primary btn-xs">{{ s }}</button>{% endfor %}
            </td>
            <td>
                <span class="filesize">{{ page.spec_details[forloop.index0].size }}</span>
            </td>
            <td>
                <div class="flex">
                    <a href="">View Raw Spec</a>
                    <a href="{{ page.spec_details[forloop.index0].tarball }}">Download Tarball</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


</div>

{% include footer.html %}

<script>
// Allow searching titles of entries
$(document).ready(function() {
    $('#cache').DataTable({pageLength: 50});

    $('#cache button.tag').click(function() {
       var filter = $(this).text();
       $('#cache').DataTable().search(filter).draw();
    });

    $('span.filesize').each(function() {
       var size = $(this).text();
       $(this).text(formatBytes(size));
    });
});    
</script>

<script src='https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js'></script>
<script src='https://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js'></script>
