---
layout: default
---

<h1 class="pb-2">
    {{ page.title }}
</h1>

<div class="alert bg-primary text-white">
    <div>
        This package has <strong><span id="spec-count"></span></strong><span id="spec-string">spec</span> in the build cache.
    </div>
    <div class="flex-none">
        <a href="https://packages.spack.io/package.html?name={{ page.title }}" class="btn btn-secondary btn-sm gap-1">{{ page.title }} <small class="font-normal">on packages.spack.io</small></a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism-coy.min.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
function formatBytes(bytes,decimals) {
   if (bytes == 0) {
       return '0 Bytes';
   } else if (bytes == '-') {
       return '-';
   }
   var k = 1024,
       dm = decimals || 2,
       sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
       i = Math.floor(Math.log(bytes) / Math.log(k));
   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
}


let specs = {{ page.spec_details|jsonify }};

const searchParams = new URLSearchParams(window.location.search);
const stack = searchParams.get('stack');
if (stack) {
    specs = specs.filter(spec => spec.stacks.includes(stack));
}
$('#spec-count').text(specs.length);
if (specs.length != 1) {
    $('#spec-string').text('specs');
}
</script>

<div class="container py-8">

<a class="button reset filter-reset btn btn-secondary btn-sm mt-2 float-right" onclick="$('#cache').DataTable().search('').draw()" href="#">reset</a></li>

<table id="cache" class="table w-full">
    <thead>
        <tr>
            <th>Hash</th>
            <th>Version</th>
            <th>Variants</th>
            <th>Platform</th>
            <th>OS</th>
            <th>Target</th>
            <th>Compiler</th>
            <th>Size</th>
        </tr>
    </thead>
</table>
</div>

<script>
// Allow searching titles of entries
$(document).ready(function() {
    $('#cache').DataTable({
        data: specs,
        columns: [
            {
                data: 'hash',
                render: function(data, type, row) {
                    return '<span class="font-mono">' + data + '</span>';
                },
                className: 'hash',
            },
            {
                data: 'versions',
                render: function(data, type, row) {
                    return '<button class="tag searchable-badge">' + data + '</button>';
                }
            },
            {
                data: 'variants',
                render: function(data, type, row) {
                    const content = data.map(function(variant, i) {
                        hidden = i > 3 ? 'variant hidden' : '';
                        return '<button class="tag searchable-badge ' + hidden + '">' + variant + '</button>';
                    }).join('');

                    // if there are more than 4 variants, display a button to toggle show more or less
                    if (data.length > 4) {
                        return content + '<span class="pl-2">...</span><button data-count="' + data.length + '" class="show-variants btn btn-xs btn-ghost normal-case">show ' + (data.length - 4) + ' more</button>';
                    } else {
                        return content;
                    }
                },
                className: 'variants',
            },
            {
                data: 'platform',
                render: function(data, type, row) {
                    return '<button class="tag searchable-badge">' + data + '</button>';
                },
                className: 'platforms',
            },
            {
                data: 'os',
                render: function(data, type, row) {
                    return '<button class="tag searchable-badge">' + data + '</button>';
                },
                className: 'oss',
            },
            {
                data: 'target',
                render: function(data, type, row) {
                    return '<button class="tag searchable-badge">' + data + '</button>';
                },
                className: 'targets',
            },
            {
                data: 'compiler',
                render: function(data, type, row) {
                    return '<button class="tag searchable-badge">' + data + '</button>';
                },
                className: 'compilers',
            },
            {
                data: 'size',
                render: function(data, type, row) {
                    return '<span class="filesize">' + data + '</span>';
                },
                className: 'sizes',
            }
        ],
        pageLength: 50,
        "drawCallback": function () {
            $('.dataTables_filter').addClass('flex md:justify-end');
            $('.dataTables_filter label').addClass('flex items-center gap-2 pr-2');
            $('.dataTables_filter .form-control').addClass('input input-sm');
            $('.dataTables_length label').addClass('flex items-center gap-2');
            $('.dataTables_length select').addClass('select select-sm');
            $('.dataTables_paginate').addClass('flex md:justify-end');
            $('.pagination').addClass('btn-group');
            $('.paginate_button').addClass('btn btn-xs btn-ghost rounded-none');
            $('.paginate_button.previous').addClass('btn btn-xs rounded-r-none rounded-l');
            $('.paginate_button.next').addClass('btn btn-xs rounded-l-none rounded-r');
            $('.paginate_button.disabled').addClass('btn btn-xs btn-disabled');
            $('.paginate_button.active').addClass('btn btn-xs btn-active');
        },
    });

    $('#cache button.tag').click(function() {
       var filter = $(this).text();
       $('#cache').DataTable().search(filter).draw();
    });

    $('span.filesize').each(function() {
       var size = $(this).text();
       $(this).text(formatBytes(size));
    });

    //show more variants
    $('.show-variants').click(function(el) {
        $(el.target).parent('td').find('.variant.hidden').toggle();
        $(this).text(function(i, text){
            const countDisplayed = $(this).data('count') - 4;
            return text === "show " + countDisplayed + " more" ? "show less" : "show " + countDisplayed + " more";
        })
    });
});
</script>

<script src='https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js'></script>
<script src='https://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js'></script>
