<!DOCTYPE html>
<html lang="en-us"> 
  <head>
    <meta charset="UTF-8">
    <title>Spack Build Cache</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  </head>

  <body class="bg-gray-100">

    <div class="container mx-auto py-8">
      {% include header.html %}
      <div class="py-8 pb-24">
        {{ content }}
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
