---
layout: default
---

<header>

{% if page.tag != "all" %}
<div class="alert bg-primary border-l-4 border-secondary pl-12 text-white">
  <div>
    <div class="pr-12">
      <h3>Get Started</h3>
      <p class="mt-0 text-sm">This command will add the build cache to your Spack configuration, allowing you to access pre-built packages for faster installation.</p>
      <p class="text-sm">For more information, please visit the <a href="https://spack-tutorial.readthedocs.io/en/latest/tutorial_binary_cache.html" class="!link-secondary font-bold">Spack documentation on mirrors</a>.</p>
    </div>
  </div>
  <div class="flex-none relative">
    <div class="mockup-code bg-neutral-focus">
      <label class="absolute top-2 right-2">
        <button class="btn btn-sm btn-ghost gap-2 opacity-75 hover:opacity-100 transition transition-all z-10" onclick="copyCode()">
          <div class="swap swap-rotate">
            <!-- this hidden checkbox controls the state -->
            <input type="checkbox" />
            <i class="ri-file-copy-line swap-off fill-current"></i>
            <i class="ri-check-line text-success swap-on fill-current"></i>
          </div>
          copy code
        </button>
      </label>
      <pre data-prefix="$"><code>spack mirror add spack-build-cache-{{ page.tag }} https://binaries.spack.io/{% if page.tag != "develop" %}releases/{% endif %}{{ page.tag }}</code></pre>
      <pre data-prefix="$"><code>spack buildcache keys --install --trust</code></pre>
    </div>
  </div>
</div>
{% endif %}
</header>


<div class="container py-8">

<a class="button reset filter-reset btn btn-secondary btn-sm mt-2 float-right" onclick="$('#software').DataTable().search('').draw()" href="#">reset</a></li>

<table id="software" class="table w-full">
    <thead>
        <tr>
            <th>UID</th>
            <th>Tag</th>
            <th>Package</th>
            <th>Versions</th>
            <th>Platform</th>
            <th>OS</th>
            <th>Target</th>
            <th>Compiler</th>
        </tr>
  </thead>      
</table>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script>

/* copy button */
function copyCode() {
  const codeBlocks = document.querySelectorAll(".mockup-code code");
  let codeText = "";

  // Concatenate the text of each code block
  codeBlocks.forEach((codeBlock, index) => {
    if (index > 0) {
      codeText += "\n"; // Add newline character before 2nd code block
    }
    codeText += codeBlock.innerText;
  });

  const checkbox = document.querySelector(".swap input[type='checkbox']");
  checkbox.checked = true;
  navigator.clipboard.writeText(codeText).then(() => {
    setTimeout(() => {
      checkbox.checked = false;
    }, 1000);
  });
} // end copy button

function setupDataTable(data, stack) {
$('#software').DataTable( {
  "drawCallback": function () {
      $('.dataTables_filter').addClass('flex md:justify-end');
      $('.dataTables_filter label').addClass('flex items-center gap-2 pr-2');
      $('.dataTables_filter .form-control').addClass('input input-sm');
      $('.dataTables_length label').addClass('flex items-center gap-2');
      $('.dataTables_length select').addClass('select select-sm');
      $('.dataTables_paginate').addClass('flex md:justify-end');
      $('.pagination').addClass('btn-group');
      $('.paginate_button').addClass('btn btn-xs btn-ghost rounded-none');
      $('.paginate_button.previous').addClass('btn btn-xs rounded-r-none rounded-l');
      $('.paginate_button.next').addClass('btn btn-xs rounded-l-none rounded-r');
      $('.paginate_button.disabled').addClass('btn btn-xs btn-disabled');
      $('.paginate_button.active').addClass('btn btn-xs btn-active');
  },
  language: {
      lengthMenu: "Show _MENU_ entries of " + data.length,
  },
  data: data,
  pageLength: 50,
  columns: [
    { data: "uid",
      className: "uid",
      render: function ( data, type, row ) {
          const numSpecs = stack ? row['num_specs_by_stack'][stack] : row['num_specs'];
          return "<a href='{{ site.baseurl }}/" + row['rel'] + "' class='font-semibold'>" + data +"</a> (" + numSpecs + ")";
      },
      targets: 1,
    },
    { data: "tag",
      render: function ( data, type, row ) { return row['tag']},
      orderable: false,
      className: "tag",
    },
    { data: null,
      render: function ( data, type, row ) { return "<a href='" + row['url']  + "' target='_blank' class='btn btn-xs btn-primary'> View Package </a>"},
      orderable: false,
      className: "packages",
    },
    { data: 'versions',
      render: function ( data, type, row ) {
        return data.join(", ");
      },
      targets: 0,
      orderable: false,
      className: "versions",
    },
    {data: "platforms",
      render: function ( data, type, row ) {
         var platforms = ""
         if(data.length > 0) {
           $.each(data, function(i, e){
              platforms += "<button onclick=$('#software').DataTable().search('"+ e +"').draw(); class='tag searchable-badge'>" + e + "</button>";
           })
         }
         return platforms
      },
      targets: 0,
      orderable: false,
      className: "platforms",
     },
    { data: "oss",
      render: function ( data, type, row ) {
         var oss = ""
         if(data.length > 0) {
           $.each(data, function(i, e){
              oss += "<button onclick=$('#software').DataTable().search('"+ e +"').draw(); class='tag searchable-badge'>" + e + "</button>";
           })
         }
         return oss
      },
      targets: 0,
      orderable: false,
      className: "oss",
     },
    { data: "targets",
      render: function ( data, type, row ) {
         var targets = ""
         if(data.length > 0) {
           $.each(data, function(i, e){
              targets += "<button onclick=$('#software').DataTable().search('"+ e +"').draw(); class='tag searchable-badge'>" + e + "</button>";
           })
         }
         return targets
      },
      targets: 0,
      orderable: false,
      className: "targets",
     },
    { data: "compilers",
      render: function ( data, type, row ) {
         var compilers = ""
         if(data.length > 0) {
           $.each(data, function(i, e){
              compilers += "<button onclick=$('#software').DataTable().search('"+ e +"').draw(); class='tag searchable-badge'>" + e + "</button>";
           })
         }
         return compilers
      },
      targets: 0,
      orderable: false,
      className: "compilers",
    },
  ]
});
 }

$(document).ready(function(){
    $("#title").click(function(){
        document.location = "{{ site.baseurl }}/"
    });

    fetch( "{{ site.baseurl }}/api/data.json").then(function( response ) {
        response.json().then(function(data) {
            {% if page.tag != "all" %}
            function filterTag(value) {
                return value['tag'] == "{{ page.tag }}"
            }
            data = data.filter(filterTag)
            {% endif %}

            // add stack query string to url in every row of data
            const searchParams = new URLSearchParams(window.location.search);
            const stack = searchParams.get('stack') !== null && searchParams.get('stack') !== '' ? searchParams.get('stack') : false;
            data = data.map(function(el){
                if (stack) {
                    el['rel'] = el['rel'] + "?stack=" + searchParams.get('stack')
                }
                return el;
            });

            // filter by stack
            if (stack) {
                function filterStack(value) {
                    return value['stacks'].includes(stack);
                }
                data = data.filter(filterStack)
            }

            setupDataTable(data, stack ? searchParams.get('stack') : null);
        });
    }).catch(console.error);
});

</script>
<script src='https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js'></script>
<script src='https://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js'></script>
</body>
</html>
